/*
 * Website made by DEVLOOSKIE
 * https://www.looskie.com/ - https://www.instagram.com/devlooskie/ - https://www.twitter.com/devlooskie/
 */

/* Normals */
*, *::before, *::after {box-sizing: border-box;padding: 0;margin: 0;font-family: 'Poppins', sans-serif;}
html {scroll-behavior: smooth;}
body { background-color: black; overflow-x: hidden; scrollbar-width: thin;}
body::-webkit-scrollbar {width: 11px}
body::-webkit-scrollbar-thumb {background-color: #5F62A6;border-radius: 6px;border: 3px solid #000}
main {width: 100vw;transition: transform .6s ease-in-out}
#loader {position: fixed;z-index: 999;width: 100%;height: 100%;background: #000 url('../img/logo.png') no-repeat center center;background-size: 120px;}

/* Nav CSS */
nav {position: absolute;width: 100vw;height: 20vh}
li {text-transform: uppercase;font-size: 1.35rem !important;letter-spacing: 0.2em;color: rgba(116, 120, 211, 0.65);padding-right: 50px;display: inline;font-weight: 400}
.logo {margin-left: 60px; margin-top:15px; height: 85px; width: auto;}.logo:focus {outline: none;}
.scrolled {opacity: 1 !important;transition: opacity 150ms linear;-webkit-transition: opacity 150ms linear;-moz-transition: opacity 150ms linear;-ms-transition: opacity 150ms linear;-o-transition: opacity 150ms linear}
#navul {padding-right: 50px;margin-top: 43px;float: right;display: inline-block}

/* Home CSS */
.home {min-height: 100vh;z-index: 1;background-image: url(../img/background.png);background-attachment: fixed;background-position: center center;background-repeat: no-repeat; background-size:cover; box-shadow: inset 0 0px 0px #000,
        inset 0 -125px 100px #000}
.container {padding-left: 60px;padding-top: 35vh}

/* About CSS */
.about {height: auto;background-color: #000}
.about p {padding-left: 550px;width: 70%;padding-top: 90px;margin: 0 auto;text-align: center;color: #7D7D7D;letter-spacing: 0.09em}
.thumbnail {float: left;padding: 50px;padding-left: 100px;height: 395px;width: auto;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px}

/* News CSS */
.news {background-color: #000;padding-top:50px; padding: 0 20px;margin:0 auto;}
.flex-wrap {padding-top: 50px;padding-bottom: 150px;}
.latest {background-image: url(../img/update-imgs/latest.png);}
.recent {background-image: url(../img/update-imgs/recent.png);}
.old { background-image: url(../img/update-imgs/old.png);}
.dark {background-color: #1F1F1F;}
.readmore { color: rgb(179, 179, 179); }

/* Connect CSS */
.connect {min-height: 20vh}
.container-connect {margin-top: 95px;left: 0;right: 0;margin-left: auto;margin-right: auto;text-align: center;width: 300px;height: 50px;display: flex;position: absolute;}
.small-rectangle {font-size: 23px;padding-top: 7px;font-weight: 400;color: #202034;background: #5F62A6;width: 90px;background: #5F62A6;z-index: 1;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;-o-border-radius:15px}
.bigger-rectangle {font-size: 23px;padding-top: 5px;padding-left: 90px;font-weight: 400;color: rgba(116, 120, 211, 0.65);width: 300px;margin-left: -90px;z-index: 0;background: #202034;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;-ms-border-radius: 15px;-o-border-radius: 15px}
.ip { opacity: 1;}

/* Discord CSS */
.discord {margin-top: 200px;min-height: 80vh;background-color: #000;background-image: url(../img/connect-background.png);background-attachment: fixed;background-position: center center;background-repeat: no-repeat;box-shadow: inset 0 134px 60px #000,inset 0 -125px 100px #000}
.discord-container {padding-top: 90px;width: 100%;margin: 0 auto;}
.discordspan {color: #7289DA; font-size: 1.8rem; background-color: transparent;}
iframe {display: block;width: 350px;margin: 0 auto;}

/* Footer */
.footer {padding: 60px;text-align: center;}
.footer p {font-size: 22px;}

/* Text Formatting */
.middle {font-size: 17px;text-align: center;color: #666666;}
h1 {font-size: 2.6rem !important;color: rgba(116, 120, 211, 0.65);}
h2 {text-transform: uppercase;font-size: 2.2rem;letter-spacing: 0.16em;color: rgba(116, 120, 211, 0.65);text-align: center;font-weight: 400}
h3 {font-size: 1.8rem;color: rgba(116, 120, 211, 0.65);}
h4 {font-size: 1.8rem; color: #97979D;text-align: center; padding-bottom: 90px;}
h6 {font-size: 2.9rem;color: rgba(116, 120, 211, 0.65); text-transform: uppercase; font-weight: 400; text-align: center;}
p {font-size: 1.6rem;color: #97979D;}

/* Buttons */
button {margin-top: 25px;text-align: center;padding-top: 6px;padding-bottom: 6px;padding-left: 13px;padding-right: 13px;background: rgba(116, 120, 211, 0.65);font-size: 16px;color: #A8A8A8;border: none;border-radius: 33px;-webkit-border-radius: 33px;-moz-border-radius: 33px;-ms-border-radius: 33px;-o-border-radius: 33px}button:hover { cursor: pointer;}button:focus {opacity: .9; outline: 0}

/* As and Spans */
a { text-decoration: none; color: rgb(179, 179, 179); opacity: .6; transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -ms-transition: opacity .25s ease-in-out; -o-transition: opacity .25s ease-in-out; }a:hover { opacity: .9 }a:focus { opacity: .7 }
span {font-size: 17px;text-align: center;color: #666666;}

/* alerts  provided by SweetAlerts2*/
.swal2-popup {border-radius: 23px !important;background-color: #1f1f1f !important;}
.swal2-title {color: #97979D !important;font-size: 1.3rem !important}
.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long {right: .5em !important}
.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip {left: .5em !important;top: 2.8em !important}

/* Media Queries */
@media only screen and (min-width: 1080px) {
    .container-about {height: 75vh}
}
@media only screen and (max-width: 1450px) {
    .about p {width: 90%}
}
@media only screen and (max-width: 1145px) {
    .thumbnail {display: block}
    .about p { padding: 0;margin: 0;width: 100%}
    #updatenav li {padding-right: 15px}
}
@media only screen and (max-width: 1054px) {
    .updateinfo ul {display: block;}
    .about p {padding-top: 45px;margin: 0;width: 100%;}
    #navul {display: none;}
    #updatenav ul {display: block;}
    #updatenav li {padding-right: 1px;}
}
@media only screen and (max-width: 886px) {
    .about p {width: 90%;padding: 0;margin: 0;margin: 0 auto}
    .thumbnail {float: none;padding: 0 20px;margin: auto;height: 300px;display: block}
}
@media only screen and (max-width: 600px) {
    .thumbnail {height: 250px;}
}