.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    background-color: #3F3F75;
    transform: translateX(400px);
    box-shadow: inset 0 0px 0px #000,
    inset 0 -125px 100px #000;
  }
  .sidebar-nav.active { display: inline-block}
  .main-nav.active { display:none}
  .bar {display: block;height: 2px;width: 30px;background-color: #3F3F75;margin: 7px auto}
  .button {cursor: pointer;display: inline-block;width: auto;margin: 0 auto;-webkit-transition: all .7s ease;-moz-transition: all .7s ease;-ms-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease;padding-top: 48px}
  .nav-right {position: fixed;right: 30px;top: 20px}
  .nav-right.visible-xs {z-index: 3;}
  .hidden-xs {display: none}
  .middle {margin: 0 auto;}
  .bar {-webkit-transition: all .7s ease;-moz-transition: all .7s ease;-ms-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease}
  .nav-right.visible-xs .active .bar {background-color: #3F3F75;-webkit-transition: all .7s ease;-moz-transition: all .7s ease;-ms-transition: all .7s ease;-o-transition: all .7s ease;transition: all .7s ease}
  .button.active .top, .button.active .bottom { background-color: #b1b1b1!important;}
  .button.active .top {-webkit-transform: translateY(15px) rotateZ(45deg);-moz-transform: translateY(15px) rotateZ(45deg);-ms-transform: translateY(15px) rotateZ(45deg);-o-transform: translateY(15px) rotateZ(45deg);transform: translateY(15px) rotateZ(45deg)}
  .button.active .bottom {transform: translateY(-24px) rotateZ(-45deg);}
  .button.active .middle {width: 0}
  
  .move-to-left {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  nav {padding-top: 30px;}
  .sidebar-list ul {
    padding: 0;
    list-style: none;
    position: relative;
    margin-top: 150px;
    text-align: center;
  }
  .sidebar-item li {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    display: block !important;
    text-align: center !important;
    margin-top: 50px !important;
    margin-right: -50px !important;
  }

  .sidebar-item.active {
    display: block !important;
    text-align: center !important;
    margin-top: 50px !important;
    margin-right: -60px !important;
    color: #363636;
  }
  
  .sidebar-item:first-child {
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;
  }
  
  .sidebar-item:nth-child(2) {
    -webkit-transition: all .7s .4s ease-in-out;
    -moz-transition: all .7s .4s ease-in-out;
    -ms-transition: all .7s .4s ease-in-out;
    -o-transition: all .7s .4s ease-in-out;
    transition: all .7s .4s ease-in-out;
  }
  
  .sidebar-item:nth-child(3) {
    -webkit-transition: all .7s .6s ease-in-out;
    -moz-transition: all .7s .6s ease-in-out;
    -ms-transition: all .7s .6s ease-in-out;
    -o-transition: all .7s .6s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }
  
  .sidebar-item:last-child {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .6s ease-in-out;
  }
  
  .sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    font-size: 20px !important;
  }
  
  .sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
  }
  
  .sidebar-anchor:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
  }
  .sidebar-anchor:hover:before {width: 100%;}
  @media only screen and (min-width: 1054px) {.visible-xs {display: none}}
  @media only screen and (max-width: 1054px) {
    .nav-right {position: absolute}
    .hidden-xs {display: hidden}
    .visible-xs {display: block}
    .nav-list {display: block}
    .sidebar-list {display: block}
  }