/*
 * Website made by Devlooskie
 * https://www.looskie.com/ - https://www.instagram.com/devlooskie/ - https://www.twitter.com/devlooskie/
 */
 
/* Uptime CSS */
.uptime {height: 100vh;z-index: 1;background-color: black;}
.uptime-container {text-align: center;padding-top: 30vh;}
.uptimespan {font-size: 1rem; text-align: center;}
.service {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 50px;
    display: flex;
    position: absolute;
}
.server {margin-top: 95px;}
.bot {margin-top: 160px;}
.website {margin-top: 225px;}
.rectangle-status {
    margin-left: 30px;
    font-size: 23px;
    padding-top: 7px;
    font-weight: 400;
    color: #202034;
    width: 50px;
    z-index: 1;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.rectangle-service {
    font-size: 23px;
    padding-top: 6px;
    padding-left: 30px;
    font-weight: 400;
    color: rgba(116, 120, 211, 0.65);
    width: 250px;
    margin-left: -50px;
    z-index: 0;
    background: #202034;
    border-radius: 157px;
    -webkit-border-radius: 157px;
    -moz-border-radius: 157px;
    -ms-border-radius: 157px;
    -o-border-radius: 157px;
    text-transform: uppercase;
}
.online {background: #4BA84F;}
.mait {background: #A8994B;}
.offline {background: #9D3030;}
.onlinetext {color: #4BA84F;}
.maittext {color: #A8994B;}
.offlinetext {color: #9D3030;}
