/*
 * Website made by Devlooskie
 * https://www.looskie.com/ - https://www.instagram.com/devlooskie/ - https://www.twitter.com/devlooskie/
 */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {overflow: hidden;}

#loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000 url('../img/logo.png') no-repeat center center;
    background-size: 120px;
}

main {
    height: 90vh;
    width: 100vw;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0px 0px #000,
                inset 0 -125px 100px #000;
}

.logo {margin: 40px; height: 85px; width: auto;}
.logo:focus {outline: none;}

h1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    color: rgba(116, 120, 211, 0.65);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
button {
    left: 45px;
    bottom: 40px;
    margin: 0;
    position: absolute;
    background: rgba(116, 120, 211, 0.65);
    color: rgb(179, 179, 179);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 128px;
    -webkit-border-radius: 128px;
    -moz-border-radius: 128px;
    -ms-border-radius: 128px;
    -o-border-radius: 128px;
}

button:hover {
    cursor: pointer;
}

footer {
    height: 10vh;
    width: 100vw;
    background-color: #000;
}

h2 {
    font-size: 20px;
    color: rgb(73, 73, 73);
    text-align: center;
}

span {
    color: #7E3838;
}

a { color: rgb(179, 179, 179); opacity: .6; transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -ms-transition: opacity .25s ease-in-out; -o-transition: opacity .25s ease-in-out; }
a:hover { opacity: .9 }
a:focus { opacity: .7 }